{
"presets": ["react-native"],
"plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@components": "components",
        "@search": "search",
        "@notifications": "notifications",
        "@auth": "auth",
        "@api": "api",
        "@config": "config",
        "@utils": "utils"
      }
    }]
  ]
}