{
  "presets": [
    "react-native",
    "flow"
  ],
  "retainLines": true,
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "components": "components",
          "search": "search",
          "notifications": "notifications",
          "auth": "auth",
          "user": "user",
          "organization": "organization",
          "repository": "repository",
          "issue": "issue",
          "api": "api",
          "config": "config",
          "utils": "utils",
          "locale": "locale",
          "package.json": "./package.json"
        }
      }
    ],
    "transform-inline-environment-variables"
  ]
}